
@keyframes mesh-animation
  0%
    background-size: 100% 140%;
  20%
    background-size: 200% 100%;
  50%
    background-size: 120% 200%;
  //70%
  //  background-size: 300% 200%;
  100%
    background-size: 100% 140%;

@keyframes mesh-animation_2
  0%
    background-size: 120% 120%;
  20%
    background-size: 180% 100%;
  50%
    background-size: 120% 200%;
  //70%
  //  background-size: 300% 200%;
  100%
    background-size: 120% 120%;



@keyframes preloader
  0%
    top: -20%
    left: 80%

    opacity: 1

  90%
    opacity: 0

  100%
    top: 120%
    left: 20%

    opacity: 0

@keyframes hidePreloader
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes hidePreloader_2
  0%
    opacity: 0
    transform translateY(1vmax) scale(1.1)
  100%
    opacity: 1
    transform translateY(0) scale(1)



@keyframes noise
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }


@keyframes flickerPhoto
  0%
    opacity: 0
    transform scale(0.6)
  20%
    opacity: 0
    transform scale(0.6)
  40%
    opacity: 0.7
    transform scale(1)
  60%
    opacity: 0.7
    transform scale(1)
  80%
    opacity: 0
    transform scale(0.6)
  100%
    opacity: 0
    transform scale(0.6)