// vendors
$vendors = webkit moz o ms


// placeholder prefixes
$placeholder = '&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder'


/*
screen sizes
base: 1280 x 800
big: 1366 x 768
large: 1920 x 1080
max: 2560 x 1600
*/
$mediaQuery1 = 1300px
$mediaQuery2 = 840px

//$mediaQuery500 = 500px
//$mediaQuery400 = 400px


$color = {
  bg: #fff,
  contrast_0: #f7ec67,
  contrast_1: #174afa,
  text: #191919
}

$step = 1.1vmax

$radius = $step

$inlinePic = 3.7vmax

